@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Fraunces:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgba(217, 217, 217, 0.8); }
  .ibg._loaded .loading-icon {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%); }

.ibg > img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.loading-screen-ditector {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1000; }

.loading-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  max-width: 20%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .loading-icon img {
    width: 100%;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: loading-icon-anim;
    animation-name: loading-icon-anim; }

@-webkit-keyframes loading-icon-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loading-icon-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loading-icon-anim_absolut {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes loading-icon-anim_absolut {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }

img[data-src],
source[data-srcset] {
  min-height: 200px;
  display: inline-block; }

img[data-src]:before,
source[data-srcset]:before {
  content: "";
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url("../img/icon-loading.png");
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: loading-icon-anim_absolut;
  animation-name: loading-icon-anim_absolut; }

body {
  background: #080E26;
  font-family: Arial; }

/*--------------------*/
.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

.index-blok {
  background: url("../img/index-blok/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #a8afcc; }
  .index-blok:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    z-index: 1; }

.index-blok__body {
  padding-top: 85px;
  padding-bottom: 85px;
  padding-left: 65px;
  padding-right: 65px; }
  @media (max-width: 1030px) {
    .index-blok__body {
      padding-top: calc(40px + 45 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .index-blok__body {
      padding-bottom: calc(40px + 45 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .index-blok__body {
      padding-left: calc(0px + 65 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .index-blok__body {
      padding-right: calc(0px + 65 * ((100vw - 320px) / 710)); } }
  @media (max-width: 620px) {
    .index-blok__body {
      padding-left: 0;
      padding-right: 0; } }

.index-blok__title {
  color: #fff;
  font-size: 62px;
  position: relative;
  z-index: 2;
  margin-bottom: 24px;
  font-family: "Fraunces"; }
  @media (max-width: 1030px) {
    .index-blok__title {
      font-size: calc(32px + 30 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .index-blok__title {
      margin-bottom: calc(14px + 10 * ((100vw - 320px) / 710)); } }

.index-blok__text {
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  position: relative;
  z-index: 2;
  font-family: "Epilogue"; }
  @media (max-width: 1030px) {
    .index-blok__text {
      font-size: calc(14px + 3 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .index-blok__text {
      line-height: calc(18px + 4 * ((100vw - 320px) / 710)); } }

.index-blok__link {
  background: #8C98CA;
  border-radius: 5px;
  color: #000;
  position: relative;
  z-index: 2;
  max-width: 135px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 24px;
  font-family: "Fraunces";
  font-size: 17px; }

.text-blok {
  background: url("../img/text-blok/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #a8afcc;
  padding-top: 160px;
  padding-bottom: 160px; }
  @media (max-width: 1030px) {
    .text-blok {
      padding-top: calc(30px + 130 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .text-blok {
      padding-bottom: calc(30px + 130 * ((100vw - 320px) / 710)); } }
  .text-blok.text-blok_no-bacgraund {
    background: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

.text-blok__wrapper {
  padding-top: 60px;
  padding-bottom: 45px;
  padding-left: 65px;
  padding-right: 65px;
  border-radius: 10px;
  background: #080e26; }
  @media (max-width: 1030px) {
    .text-blok__wrapper {
      padding-top: calc(15px + 45 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .text-blok__wrapper {
      padding-bottom: calc(15px + 30 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .text-blok__wrapper {
      padding-left: calc(5px + 60 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .text-blok__wrapper {
      padding-right: calc(5px + 60 * ((100vw - 320px) / 710)); } }
  @media (max-width: 620px) {
    .text-blok__wrapper {
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 10px;
      padding-right: 10px; } }

.text-blok__title {
  color: #fff;
  font-size: 42px;
  position: relative;
  z-index: 2;
  margin-bottom: 44px;
  font-family: "Fraunces"; }
  @media (max-width: 1030px) {
    .text-blok__title {
      font-size: calc(22px + 20 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .text-blok__title {
      margin-bottom: calc(24px + 20 * ((100vw - 320px) / 710)); } }

.text-blok__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.text-blok-blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-bottom: 2%;
  background: #283157;
  border-radius: 5px;
  padding: 25px; }
  @media (max-width: 620px) {
    .text-blok-blok {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      margin-bottom: 10px;
      padding: 10px; }
      .text-blok-blok:last-child {
        margin-bottom: 0; } }

.text-blok-blok__title {
  color: #fff;
  font-size: 22px;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  font-family: "Fraunces"; }
  @media (max-width: 1030px) {
    .text-blok-blok__title {
      font-size: calc(18px + 4 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .text-blok-blok__title {
      margin-bottom: calc(12px + 8 * ((100vw - 320px) / 710)); } }

.text-blok-blok__text {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  position: relative;
  z-index: 2;
  font-family: "Epilogue"; }
  @media (max-width: 1030px) {
    .text-blok-blok__text {
      font-size: calc(14px + 3 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .text-blok-blok__text {
      line-height: calc(18px + 12 * ((100vw - 320px) / 710)); } }

/*============================*/
.text-blok_column {
  background: #cdd0d5;
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (max-width: 1030px) {
    .text-blok_column {
      padding-top: calc(30px + 30 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .text-blok_column {
      padding-bottom: calc(30px + 30 * ((100vw - 320px) / 710)); } }
  .text-blok_column .text-blok__body {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px; }
    @media (max-width: 1030px) {
      .text-blok_column .text-blok__body {
        padding-left: calc(10px + 20 * ((100vw - 320px) / 710)); } }
    @media (max-width: 1030px) {
      .text-blok_column .text-blok__body {
        padding-right: calc(10px + 20 * ((100vw - 320px) / 710)); } }
    @media (max-width: 620px) {
      .text-blok_column .text-blok__body {
        padding-left: 0px;
        padding-right: 0px;
        display: block; } }
  .text-blok_column .text-blok-blok {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    margin-right: 2%;
    padding: 0;
    background: none; }
    .text-blok_column .text-blok-blok:nth-child(3n) {
      margin-right: 0; }
  .text-blok_column .text-blok-blok__img {
    padding-top: 90%;
    border-radius: 5px;
    margin-bottom: 17px;
    background-color: #a8afcc; }
    @media (max-width: 1030px) {
      .text-blok_column .text-blok-blok__img {
        margin-bottom: calc(10px + 7 * ((100vw - 320px) / 710)); } }
    @media (max-width: 620px) {
      .text-blok_column .text-blok-blok__img {
        padding-top: 60%; } }
  .text-blok_column .text-blok-blok__title,
  .text-blok_column .text-blok-blok__text {
    text-align: center; }

/*=============================================*/
.text-blok_list {
  background: url("../img/text-blok/5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #a8afcc; }
  .text-blok_list .text-blok-blok {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media (max-width: 620px) {
      .text-blok_list .text-blok-blok {
        padding-left: 0;
        padding-right: 0; } }
  .text-blok_list .text-blok-blok__number {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    max-width: 40px;
    height: 40px;
    background: #283157;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    position: relative;
    z-index: 2;
    font-family: "Fraunces";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 1030px) {
      .text-blok_list .text-blok-blok__number {
        max-width: calc(25px + 15 * ((100vw - 320px) / 710)); } }
    @media (max-width: 1030px) {
      .text-blok_list .text-blok-blok__number {
        height: calc(25px + 15 * ((100vw - 320px) / 710)); } }
    @media (max-width: 1030px) {
      .text-blok_list .text-blok-blok__number {
        font-size: calc(14px + 11 * ((100vw - 320px) / 710)); } }
  .text-blok_list .text-blok-blok__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 15px;
    padding-top: 8px; }
    @media (max-width: 620px) {
      .text-blok_list .text-blok-blok__content {
        padding-left: 12px;
        padding-top: 0; } }
  .text-blok_list:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 125px;
    background: -webkit-gradient(linear, left top, left bottom, from(#cdd0d5), to(rgba(205, 208, 213, 0)));
    background: -webkit-linear-gradient(#cdd0d5, rgba(205, 208, 213, 0));
    background: -o-linear-gradient(#cdd0d5, rgba(205, 208, 213, 0));
    background: linear-gradient(#cdd0d5, rgba(205, 208, 213, 0));
    left: 0;
    top: 0; }
    @media (max-width: 1030px) {
      .text-blok_list:before {
        height: calc(10px + 115 * ((100vw - 320px) / 710)); } }

.columns-blok__wrapper {
  padding-top: 85px;
  padding-bottom: 85px;
  padding-left: 65px;
  padding-right: 65px; }
  @media (max-width: 1030px) {
    .columns-blok__wrapper {
      padding-top: calc(40px + 45 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .columns-blok__wrapper {
      padding-bottom: calc(40px + 45 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .columns-blok__wrapper {
      padding-left: calc(0px + 65 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .columns-blok__wrapper {
      padding-right: calc(0px + 65 * ((100vw - 320px) / 710)); } }
  @media (max-width: 620px) {
    .columns-blok__wrapper {
      padding-left: 0;
      padding-right: 0; } }

.columns-blok__title {
  color: #fff;
  font-size: 42px;
  position: relative;
  z-index: 2;
  margin-bottom: 44px;
  font-family: "Fraunces"; }
  @media (max-width: 1030px) {
    .columns-blok__title {
      font-size: calc(22px + 20 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .columns-blok__title {
      margin-bottom: calc(24px + 20 * ((100vw - 320px) / 710)); } }

.columns-blok__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 620px) {
    .columns-blok__body {
      display: block; } }

.columns-blok-blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
  margin-bottom: 2%; }
  .columns-blok-blok:nth-child(3n) {
    margin-right: 0; }
  @media (max-width: 620px) {
    .columns-blok-blok {
      margin-bottom: 20px; } }

.columns-blok-blok__title {
  color: #fff;
  font-size: 22px;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  font-family: "Fraunces"; }
  @media (max-width: 1030px) {
    .columns-blok-blok__title {
      font-size: calc(18px + 4 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .columns-blok-blok__title {
      margin-bottom: calc(12px + 8 * ((100vw - 320px) / 710)); } }

.columns-blok-blok__text {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  position: relative;
  z-index: 2;
  font-family: "Epilogue"; }
  @media (max-width: 1030px) {
    .columns-blok-blok__text {
      font-size: calc(14px + 3 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .columns-blok-blok__text {
      line-height: calc(18px + 12 * ((100vw - 320px) / 710)); } }

/*========================================*/
.columns-blok_bacgraund-column .columns-blok-blok {
  padding: 25px;
  border-radius: 5px;
  background: #283157; }
  @media (max-width: 1030px) {
    .columns-blok_bacgraund-column .columns-blok-blok {
      padding: calc(10px + 15 * ((100vw - 320px) / 710)); } }
  @media (max-width: 620px) {
    .columns-blok_bacgraund-column .columns-blok-blok {
      padding: 15px 10px; } }

.columns-blok_bacgraund-column .index-blok__link {
  margin-top: 0; }

.form {
  background: url("../img/text-blok/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #a8afcc;
  padding-top: 160px;
  padding-bottom: 160px; }
  @media (max-width: 1030px) {
    .form {
      padding-top: calc(30px + 130 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .form {
      padding-bottom: calc(30px + 130 * ((100vw - 320px) / 710)); } }
  .form.text-blok_no-bacgraund {
    background: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

.form__container {
  max-width: 620px; }

.form__wrapper {
  padding-top: 60px;
  padding-bottom: 45px;
  padding-left: 65px;
  padding-right: 65px;
  border-radius: 10px;
  background: #080e26; }
  @media (max-width: 1030px) {
    .form__wrapper {
      padding-top: calc(15px + 45 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .form__wrapper {
      padding-bottom: calc(15px + 30 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .form__wrapper {
      padding-left: calc(5px + 60 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .form__wrapper {
      padding-right: calc(5px + 60 * ((100vw - 320px) / 710)); } }
  @media (max-width: 620px) {
    .form__wrapper {
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 10px;
      padding-right: 10px; } }

.form__title {
  color: #fff;
  font-size: 42px;
  position: relative;
  z-index: 2;
  margin-bottom: 44px;
  font-family: "Fraunces"; }
  @media (max-width: 1030px) {
    .form__title {
      font-size: calc(22px + 20 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .form__title {
      margin-bottom: calc(24px + 20 * ((100vw - 320px) / 710)); } }

.input {
  width: 100%;
  height: 60px;
  display: block;
  border-radius: 5px;
  margin-bottom: 18px;
  background: #283157;
  padding-left: 20px;
  padding-right: 20px;
  color: #FFF;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  z-index: 2;
  font-family: "Epilogue";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 2px solid #283157;
  max-width: 100%; }
  @media (max-width: 1030px) {
    .input {
      font-size: calc(14px + 4 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .input {
      line-height: calc(18px + 4 * ((100vw - 320px) / 710)); } }
  .input::-webkit-input-placeholder {
    opacity: 1;
    color: #F8F8F8;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  .input::-moz-placeholder {
    opacity: 1;
    color: #F8F8F8;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transform: translateY(0%); }
  .input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%); }
  .input:focus::-moz-placeholder {
    opacity: 0;
    transform: translateY(-20%); }
  @media (min-width: 1064px) {
    .input:hover {
      border: 2px solid rgba(255, 255, 255, 0.3); } }
  .input:focus {
    border: 2px solid white !important; }
  .input._error {
    border: 2px solid rgba(255, 66, 0, 0.1) !important;
    color: rgba(255, 66, 0, 0.5) !important; }
  .input._error::-webkit-input-placeholder {
    color: rgba(255, 66, 0, 0.5) !important; }
  .input._error::-moz-placeholder {
    color: rgba(255, 66, 0, 0.5) !important; }

textarea.input {
  height: 140px;
  padding-top: 20px;
  resize: none; }

.form__button {
  background: #8C98CA;
  border-radius: 5px;
  color: #000;
  position: relative;
  z-index: 2;
  max-width: 100%;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 24px;
  font-family: "Fraunces";
  font-size: 17px;
  display: block; }

.slaider {
  padding-bottom: 60px; }
  @media (max-width: 1030px) {
    .slaider {
      padding-bottom: calc(30px + 30 * ((100vw - 320px) / 710)); } }

.slaider__wrapper {
  padding-left: 65px;
  padding-right: 65px; }
  @media (max-width: 1030px) {
    .slaider__wrapper {
      padding-left: calc(40px + 25 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .slaider__wrapper {
      padding-right: calc(40px + 25 * ((100vw - 320px) / 710)); } }
  @media (max-width: 620px) {
    .slaider__wrapper {
      padding-left: 0;
      padding-right: 0; } }

.slaider__title {
  color: #fff;
  font-size: 42px;
  position: relative;
  z-index: 2;
  margin-bottom: 44px;
  font-family: "Fraunces"; }
  @media (max-width: 1030px) {
    .slaider__title {
      font-size: calc(22px + 20 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .slaider__title {
      margin-bottom: calc(24px + 20 * ((100vw - 320px) / 710)); } }

.slaider-body {
  position: relative; }

.slaider-body__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.slaider-blok {
  background: #283157;
  padding: 14px 10px;
  border-radius: 10px; }

.slaider-blok__img {
  padding-top: 100%;
  background-color: #f1f0ec;
  border-radius: 5px;
  margin-bottom: 14px; }

.slaider-blok__title {
  color: #fff;
  font-size: 22px;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  font-family: "Fraunces"; }
  @media (max-width: 1030px) {
    .slaider-blok__title {
      font-size: calc(18px + 4 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .slaider-blok__title {
      margin-bottom: calc(12px + 8 * ((100vw - 320px) / 710)); } }

.slaider-blok__text {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  position: relative;
  z-index: 2;
  font-family: "Epilogue";
  max-height: 120px;
  overflow: auto;
  margin-bottom: 14px;
  padding-right: 15px; }
  @media (max-width: 1030px) {
    .slaider-blok__text {
      font-size: calc(14px + 3 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .slaider-blok__text {
      line-height: calc(18px + 12 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .slaider-blok__text {
      margin-bottom: calc(8px + 6 * ((100vw - 320px) / 710)); } }
  .slaider-blok__text::-webkit-scrollbar {
    width: 3px; }
  .slaider-blok__text::-webkit-scrollbar-track {
    background-color: rgba(229, 229, 229, 0.5); }
  .slaider-blok__text::-webkit-scrollbar-thumb {
    background: #E8E8E8;
    border-radius: 16px;
    display: block;
    max-height: 30px; }

.slaider-blok__number {
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 2;
  font-family: "Fraunces"; }
  @media (max-width: 1030px) {
    .slaider-blok__number {
      font-size: calc(15px + 3 * ((100vw - 320px) / 710)); } }

.slaider-paginachion {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 24px; }
  .slaider-paginachion span {
    opacity: 0.5;
    background: #fff;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .slaider-paginachion span.swiper-pagination-bullet-active {
    width: 22px;
    opacity: 1; }
  @media (min-width: 620.1px) {
    .slaider-paginachion {
      display: none;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      max-width: 0;
      max-height: 0;
      margin: 0; } }

.slaider-button {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background: #283157;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 1030px) {
    .slaider-button {
      width: calc(30px + 15 * ((100vw - 320px) / 710)); } }
  @media (max-width: 1030px) {
    .slaider-button {
      height: calc(30px + 15 * ((100vw - 320px) / 710)); } }
  .slaider-button.swiper-button-disabled {
    opacity: 0.15;
    pointer-events: none; }
  @media (max-width: 620px) {
    .slaider-button {
      display: none;
      opacity: 0;
      max-width: 0;
      max-height: 0;
      pointer-events: none; } }

.slaider-button_left {
  left: -15px;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%); }
  @media (max-width: 620px) {
    .slaider-button_left {
      left: -10px; } }

.slaider-button_right {
  right: -15px;
  -webkit-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%); }
  @media (max-width: 620px) {
    .slaider-button_right {
      right: -10px; } }
